@charset "UTF-8";

body {
    background-image: linear-gradient(to bottom,#17325c,#50C4ED );
    height: 100vh;
}
#login{
    width: 700px;
}
section div#img{
    float: left;
    width: 35%;
    height: 100%;
}
#login-area{
    float: right;
    width: 65%;
    height: 100%;
}