@charset "UTF-8";

#login{
    width: 75vw;
    height: 250px;
}
section div#img{
    float: left;
    width: 35%;
    height: 100%;
}
#login-area{
    float: right;
    width: 65%;
    height: 100%;
}